name: CI

on:
  push:
    branches: master
  pull_request:
    branches: '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Install node
      uses: actions/setup-node@v1
      with:
       node-version: '10.x'
    - name: Install Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.7'
        architecture: 'x64'
    - name: Install JupyterLab
      run: python -m pip install jupyterlab
    - name: Install the ipylab Python package
      run: python -m pip install -e .
    - name: Install the ipylab JupyterLab extension
      run: |
        jlpm && jlpm run build
        jupyter labextension install .
    - name: Browser check
      run: python -m jupyterlab.browser_check
